@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-image:url("pexels-nicolas-postiglioni-421129.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.titel,.countdown-container{
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(129, 0, 119),
        0 0 82px rgb(129, 0, 119),
        0 0 92px rgb(129, 0, 119),
        0 0 102px rgb(129, 0, 119),
        0 0 151px rgb(129, 0, 119);
  }
  
  .titel{
    font-size: 5.2rem;
    animation: flicker 1.25s infinite alternate;     
  }
  
  /* Flickering animation */
  @keyframes flicker {
      
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(129, 0, 119),
        0 0 80px rgb(129, 0, 119),
        0 0 90px rgb(129, 0, 119),
        0 0 100px rgb(129, 0, 119),
        0 0 150px ;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  
  
  /* Additional styling */
    
  body {
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
    background-color: #010a01;
  }  
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 1000;
  }
  
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.countdown-container{
    display: flex;
}
.großer-text{
    font-size: 6rem;
}
.titel{
    margin: 10px;
    text-align: center;
    color: #fff;
    width: 100%;
    letter-spacing: 2px;
    font-size: 3rem;
    line-height: 5.5rem;
}
.titel span{
    display: block;
    font-size: 6rem;
    letter-spacing: 2rem;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}
.countdown-container >div{
    margin: 0 2rem;
    text-align: center;
    border: 2px solid #fff;
    padding: 0px 20px;
    border-radius: 12px;
    box-shadow: 0p 2px 10px rgba(0,0,0,0.5);
    box-sizing: border-box;
    color:#fff;
    min-width:150px;
}
@media (max-width:992px){
    .countdown-container >div{
        margin: 0 1rem;
    }
}
@media (max-width:767px){
    .countdown-container{
        flex-wrap: wrap;
    }
    .countdown-container >div{
        margin: 1rem auto;
        max-width: 150px;
    }
    .titel{
        font-size: 1.5rem;
        line-height:  3.5rem;
        margin: 10px 0px;
    }
    .titel span{
        font-size: 2rem;
        letter-spacing: 1rem;
    }
}
